<!DOCTYPE html>
<html>
<head>
<title> {% block title %}  {% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

<script src="/static/jquery.js"></script>
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
<script src="/static/bootstrap/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="/static/bootstrap-select/bootstrap-select.min.css">
<script src="/static/bootstrap-select/bootstrap-select.min.js"></script>

<link rel="stylesheet" href="/static/global.css">
<script src="/static/global.js"></script>

{% block head %}{% endblock %}

</head>
<body>


{% include "./header.html" with username=username %}

{% block content %}{% endblock %}
</body>
</html>