#main{
	margin: 0 auto;
	margin-top: 0%;
	width: 60%;

}

.input-sm {
    width: 100px !important;
}

.login-form{
	position: absolute !important;
	right: 0px;
	top: 10px;
	
}
.login-form *{
	display:inline !important;
}

.navbar-collapse{
	position: relative !important;
}